[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
pytz = "*"
tzlocal = "*"
requests = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
mypy = "*"
pytest = "*"
rope = "*"

[requires]
python_version = "3.7"
